APP_NAME=Multi-Agent Customer Support AI
APP_VERSION=1.0.0

ENVIRONMENT=development

HOST=0.0.0.0
PORT=8000

DEBUG=True

MONGODB_URI=
DATABASE_NAME=customer_support_ai

USERS_COLLECTION=users
CONVERSATIONS_COLLECTION=conversations
KNOWLEDGE_COLLECTION=knowledge_base
ANALYTICS_COLLECTION=analytics

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

GOOGLE_API_KEY=

VECTOR_DB_PATH=./vectorstore